# Ignore node_modules to avoid copying them into the container
node_modules

# Ignore logs and temporary files
*.log
tmp/
log/
coverage/
*.swp
*.DS_Store

# Ignore build artifacts
dist/
build/
public/assets/

# Ignore Git and editor-related files
.git
.gitignore
.vscode
.idea
