.word
  display: flex

@keyframes scrollHorizontal
  from
    right: 0
  to
    right: 100%

.easy
  animation: scrollHorizontal 7s linear infinite

.medium
  animation: scrollHorizontal 5s linear infinite

.hard
  animation: scrollHorizontal 4s linear infinite

.word
  position: absolute
  top: 0

.word
  animation-play-state: running

.word.paused
  animation-play-state: paused

.hidden
  display: none

.pop
  transform: scale(2)
  transition: transform 0.5s ease

@keyframes fizzleOut
  0%
    opacity: 1
    color: whit
    text-shadow: 0px 0px 8px red
  50%
    opacity: 0.7
    color: red
    text-shadow: 0px 0px 10px red
  100%
    opacity: 0
    color: darkred
    text-shadow: 0px 0px 12px red

.fizzle
  animation: fizzleOut 2s ease-in-out forwards
