.advanced-settings
  text-align: left
  background: none !important
  color: white !important
  box-shadow: none !important
  font-family: "Roboto", sans-serif
  &::before
    background-color: transparent !important
  .advanced-settilngs_accodion-title
    font-size: 20px
  .advanced-settings_slider
    width: 60%
  .advanced-settings_details
    margin: 20px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    > *
      margin: 15px 0
  .advanced-settings_description
    width: 80%
    font-size: 18px
    margin: 0 20px
